@model IEnumerable<Dominio.Entidad.Negocios.Entidad.Herramienta>

@{
    ViewBag.Title = "ConsultaHerramientas";
}

<h2><strong><em>Lista de Herramientas</em></strong></h2>

@using (Html.BeginForm())
{
    <div>
        <hr />
        <em style="display: inline-block; width: 130px; font-size: 20px;"> Categoría : </em>
        @Html.DropDownList("categorias", (SelectList)ViewBag.selectCategorias, "Seleccione una Categoría", new { @class = "form-control", style = "display: inline-block;margin-right:50px;" })

        <button type="submit" class="btn btn-success" style="display: inline-block;">Consultar</button>

        <hr />
    </div>
}

<p>
    @Html.ActionLink("Registrar", "CreateOscarAquise")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdHer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesHer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedHer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IdHerramienta)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>*@
        <th>Acciones</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesHer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedHer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdHerramienta)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>*@
            <td>
                @Html.ActionLink("Editar", "EditOscarAquise", new { id = item.IdHer }, new { @class = "btn btn-info" }) |
               
                @Html.ActionLink("Eliminar", "DeleteOscarAquise", new { id = item.IdHer }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

<div>
    @for (int i = 0; i < (int)ViewBag.numberPages; i++)
    {
        @Html.ActionLink(
            $"{(i + 1)}",
            "ConsultaHerramientas",
            new { numberPage = i, categorias = ViewBag.selectCategorias.SelectedValue },
            new { @class = "btn btn-success", href = Url.Action("ConsultaHerramientas", new { numberPage = i, categorias = ViewBag.selectCategorias.SelectedValue }) }
        )
    }
</div>

<div>
    @{
        string mensaje = @ViewBag.mensajeEliminar + TempData["MensajeEliminacion"];
    }

    @if (!string.IsNullOrEmpty(mensaje))
    {
        <div class="alert alert-dark" style="background-color: aliceblue; margin: 0px; font-size: 15px; border: 2px solid black;text-align:center">
            @mensaje
        </div>
    }
    <br />
</div>
